
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Styles/DetailProductStyle.css">
<div>
    <a class="btn btn-primary" href="~/Product" style="float:right">back </a>
    <h2 class="content--title" style="text-align:center">INFO PRODUCT</h2>
    <div class="content--boxFlex">
        <div class="content--right">
            <lable>Product Name:</lable>
            <div>banh my</div>
            <lable>Unit Price:</lable>
            <div>15000</div>
            <lable>Quantity PerUnit:</lable>
            <div>15000</div>
            <lable>Descriptions:</lable>
            <div>banh my nguon goc viet nam</div>
            <lable>Category Name:</lable>
            <div>Bánh mì ổ</div>
            <lable>Description:</lable>
            <div>bánh mì ổ ngon</div>
        </div>
        <div class="content--left">
            <lable>Company Name:</lable>
            <div>Công Ty Tnhh Một Thành Viên Bánh Mì Viko</div>
            <lable>Contact Name:</lable>
            <div>Công Ty Tnhh Một Thành Viên Bánh Mì Viko</div>
            <lable>Contact Title:</lable>
            <div>Công Ty Tnhh Một Thành Viên Bánh Mì Viko</div>
            <lable>Address:</lable>
            <div>Hải Châu</div>
            <lable>City:</lable>
            <div>Đà nẵng</div>
            <lable>Country:</lable>
            <div>VN</div>
            <lable>Phone:</lable>
            <div>875874686967</div>
            <lable>Fax:</lable>
            <div>875874686967</div>
            <lable>Home Page:</lable>
            <div>https://thuathienhue.banhmichaca.vn/</div>
        </div>
    </div>
</div>
