
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
</head>
<body>
    <h1 style="text-align:center">PAGE NOT FOUND</h1>
    <div>
        <img style="display:block;margin:0 auto" src="https://cdn.dribbble.com/users/1033824/screenshots/5905597/404-dribbble.gif" title="404" alt="404" />
    </div>
</body>
</html>
